* {
    border: 1px solid black;
    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';
}

html {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 30% 70%;
}
/* dashboard */
.dashboard {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 35% 55%;
    background-color: #1992d4;
}
.dashboard * {
    color: white;
}

.dashboard h1 {
    grid-column: 1/3;
    grid-row: 1/2;
}
.first-list {
    grid-column: 1/3;
    grid-row: 2/3;
}
.second-list {
    grid-column: 1/3;
    grid-row: 3/4;
}

.first-list li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-list li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* header */

.header {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
}

.first-left {
    align-self: center;
    justify-self: center;
}

.first-left form {
    width: 900px;
}
.first-left form input {
    width: 830px;
    border-radius: 5px;
    background-color: #e2e8f0;
}

.first-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-left {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 20% 80%;
}

.second-left img {
    grid-row: 1/3;
    grid-column: 1/2;
}
.second-left span {
    grid-row: 1/2;
    grid-column: 2/3;
}
.second-left h1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.second-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.second-right button {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
}