* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';
}

html {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 85%;
}
/* dashboard */
.dashboard {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 35% 55%;
    background-color: #1992d4;
}
.dashboard * {
    color: white;
}

.dashboard .title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 80%;
}
.title img {
    grid-column: 1/2;
    align-self: center;
    margin-left: 20px;
}
.title h1 {
    grid-column: 2/3;
}
.first-list {
    grid-column: 1/3;
    grid-row: 2/3;
}
.second-list {
    grid-column: 1/3;
    grid-row: 3/4;
}
.first-list li {
    display: grid;
    grid-template-columns: 10% 85%;
    gap: 10px;
}
.first-list li img {
    grid-column: 1/2;
}
.first-list li a {
    grid-column: 2/3;
}/* 
.first-list li {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
.second-list li {
    display: grid;
    grid-template-columns: 10% 85%;
    gap: 10px;
}
.second-list li img {
    grid-column: 1/2;
}
.second-list li a {
    grid-column: 2/3;
}
/* .second-list li {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* .first-list ul li img {
    width: 100px;
    height: 100px;
} */


/* header */

.header {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    margin-left: 20px;
}
 .first-left {
    align-self: center;
    justify-self: stretch;
}

.first-left form {
    /* width: 900px; */
   display: grid;
    grid-template-columns: 8% 90%;
    gap: 10px;
/*     display: inline-grid;
    justify-self: stretch; */
}

.first-left form button {
    grid-column: 1/2;
    justify-self: stretch;
    background-color: white;
    border: 0;
}

.first-left form input {
    /* width: 830px; */
    grid-column: 2/3;
    border-radius: 5px;
    background-color: #e2e8f0;
    justify-self: stretch;
} 

.first-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.first-right button img, .first-right button {
    background-color: white;
    border: 0;
}

.second-left {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 20% 80%;
}

.second-left img {
    grid-row: 1/3;
    grid-column: 1/2;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}
.second-left span {
    grid-row: 1/2;
    grid-column: 2/3;
}
.second-left h1 {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 0px;
}

.second-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.second-right button {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border-color: #1992d4;
    border-style: solid;
}

/* main-content */
.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    padding-left: 20px;
    padding-bottom: 50px;
}

.left-box {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}

.right-upper-box {
    grid-row: 1/2;
    grid-column: 2/3;
}

.right-lower-box {
    grid-row: 2/3;
    grid-column: 2/3;
}

.left-box h2 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.left-box .card-box {
    grid-row: 2/3;
    grid-column: 1/2;
}

.card-box {/* 
    display: flex;
    flex-wrap: wrap;
    gap: 10px; */
    display: grid;
    /* background-color: blue; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 15px;
}

.card-box .card {
/*     height: 40%;
    width: 300px; */
    background-color: white;
    display: grid;
    grid-template-columns: 3% 93%;
    border-radius: 15px;
    gap: 5px;
}

.card-content {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.card-content .card-content-button {
    align-self:center;
    justify-self:end;
    display: flex;
    gap: 20px;
}
.card-content-button *{
    background-color: white;
    border: 0px;
}

 .card-badge {
    /* width: 10px; */
    /* height: 230.859px; */
    grid-column: 1/2;
    background-color: #f0b429;
    overflow: hidden;
    border: 0px;
    border-radius: 15px 0 0 15px;
}

/* right-upper-box */
.right-upper-box > h3 {
    margin: 0;
    margin-left: 20px;
}
.announcements-box {
    margin: 0 20px;
    background-color: white;
    padding: 20px;
}

.announcements-box * {
    margin: 0;
}

.announcements-box div {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.announcements-box .announcement-three {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* right-lower-box */
.right-lower-box > h3 {
    margin: 0;
    margin-left: 20px;
}
.trending-box {
    margin: 0 20px;
    background-color: white;
    padding: 20px 10px 10px 10px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: repeat(4, 20%);
    gap: 10px;
    height: 90%;
}

.trending-box > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.trending-box div img {
    grid-column: 1/2;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    justify-self: center;
}

.trending-box div span {
    grid-column: 2/3;
}